.main {
    fill: white;
    width: 40vw;
}

@keyframes ShowHide {
    0% {
        visibility: visible;
    }
    50% {
        visibility: hidden;
    }
}

.outline_1 {
    animation: ShowHide 1s infinite step-start;
}

.outline_2 {
    animation: ShowHide 1s infinite step-start reverse;
}

@keyframes Show {
    0% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

@keyframes move {
    0% {
        transform: translateX(0px)
    }
    33% {
        transform: translateX(1px)
    }
    66% {
        transform: translateX(-1px)
    }
    100% {
        transform: translateX(0)
    }
}

.text_1 {
    transform: translateX(0);
    visibility: hidden;
    font-size: 26.5125px;
    animation: Show 1s forwards step-start, move 1.2s infinite step-start reverse;
    animation-delay: 0s, 0.5s;
}

.text_2 {
    visibility: hidden;
    font-size: 36.2738px;
    animation: Show 1s forwards step-start;
    animation: Show 1s forwards step-start, move 1.2s infinite step-start;
    animation-delay: 0.6s;
}

.text_3 {
    visibility: hidden;
    font-size: 89.6714px;
    animation: Show 1s forwards step-start reverse;
    animation: Show 1s forwards step-start, move 1.2s infinite step-start;
    animation-delay: 1.2s;
}